/* #searchBar {
    text-align: center;
} */

#estimatedRsrp {
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: green;
    text-align: center;
    font-style: italic;
}

#pac-input {
    /* width: 100%; */
    opacity: 90%;
    width: 45%;
    height: 5%;
    margin: 15px auto 15px auto;    /* left right auto for responsiveness */ 
    background-color:#ffffff;     /* color of search bar */ 
    border-radius: 5px;             /*round edges on search bar */
    padding-left: 10px;
}

#map {
    height: 600px;
    width: 70%;
}

#graphs {
    height: 600px;
    width: 50%;
    /* float: left; */
}

#csvTable {
    width: 70%;
    margin-bottom:25px;
    display: fill;
	margin-left: auto;
	margin-right: auto;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

#infoWindow {
    color: black;
}

#canv{
    position:"relative";
    top:530px;
    left:28%;
    height:214px;
    width:214px;
    z-index:1;
}