/* background gradient - can change the colors by changing the 2 hex codes in "linear-gradient" */ 
body {
    background: linear-gradient(-45deg, #948E99,#2E1437, #1c0025);
    background-size: 400% 400%;
    background-color: transparent !important;
    animation: gradient 14s ease infinite;
    color: #FFFFFF
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar{
    background-color: transparent;
}

.topology-form {
    width:100%;
    opacity: 90%;
    max-width:300px;
    margin: 15px auto 15px auto; /* top, right, bottom, left */
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    font-size: 24px;
    color: red;
    text-align: center;
    font-style: italic;
}

#map {
    height:600px;
    width: 60%;
    border-radius: 25px;
    margin-left: auto;
	margin-right: auto;
    margin-bottom: 15px;
}

.map-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-container { /* for "submit number random nodes" */ 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}

.map-info {
    font-size:24px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.title {
    color: #FFFFFF;
    text-align: center;
    font-size: 38px;
    font-style: italic;
    margin-top:25px;
    margin-bottom: 25px;
}

.container {
    width: 300px;
    display: block;
    align-items: center;
    justify-content: center;
    padding-bottom:25px;
}

/* search bar... auto makes it horizontally centered */
form-inline {
    width: 100%;
    opacity: 90%;
    max-width: 650px;               /* screensize > 650 --> search bar 650px wide */ 
    margin: 20px auto 20px auto;    /* left right auto for responsiveness */ 
    background-color:#ffffff;     /* color of search bar */ 
    border-radius: 15px;            /* round edges on search bar */
}

.db-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#tiny_info {
    text-align: center;
    margin-bottom: 15px;
}

/* make sure to add 'w-100' to the button class or it wont stretch the button to fit the div */
.wide-button {
    width: 765px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}

.db-table {
    width: 80%;
    margin-bottom:25px;
    display: block;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    align-items: center;

}

